@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.left-info p {
  font-weight: 700;
}

.left-info p span {
  font-weight: 400;
}

.right-info p {
  font-weight: 700;
}

.right-info p span {
  font-weight: 400;
}

.pagination {
  width: 500px;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.img-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
